.profile {
    margin-left: 400px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 800px;
    
  }

  .profilex {
    margin-left: 400px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 800px;
    
  }