################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeftoverManagementApi/LeftoverManagementApi/LeftoverManagment.db
/LeftoverManagementApi/LeftoverManagementApi/Migrations/*
